*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.basePage {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.chatbot {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.chatbot-info-header{
  font-size: 1.2rem;
  color: white;
  padding-top: 4px;
  display: inline-block;
}

.chatbot-assistant-header{
  padding: 5px 60px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.chatbot-icon-header{
  display: inline-block;
  text-align: left;
  margin-top: 5px;
  width: 70px;
}

.chatbot-msgs {
    display: flex;
    padding: 200px;
    outline: #abe9cd solid 1px;
    margin-right: 11px;
    margin-left: 1px;
    margin-top: auto;
    position: relative;
    overflow-y: scroll;
    flex-direction: column;
    max-height: 100px;
}

.chatbot-msgs::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.chatbot-msgs::-webkit-scrollbar {
  width: 7px;
}
.chatbot-msgs::-webkit-scrollbar-track {
  background: #ddd;
}

.userInput {
  word-wrap: break-word;
}
.botOutput {
  word-wrap: break-word;
}

.user-reply {
  position: absolute;
  right: 8px;
  margin-right: 13px;
  border-radius: 40px 25px 5px 15px;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  padding: 10px;
  max-width: 85%;
}

.bot-reply, .bot-menu1, .bot-menu2, .bot-resp {
    position: absolute;
    left: 8px;
    border-radius: 15px 50px 30px 5px;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    padding: 10px;
    display: block;
    margin: 0 auto;
    max-width: 85%;
}
.bot-reply, .bot-menu, .bot-menu2, .bot-resp span{
  max-width: 85%;
}

.msg-textbox {
    border-radius: 12px;
    border: 2px solid #3eadcf;
    padding: 15px;
    width: 260px;
    height: 10px;
}

.chatbot-assistant-footer {
  padding: 10px 50px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.chatbot-sendbtn-footer {
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5em;
}
.chatbot-menu {
  background-color: #abe9cd;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5em;
}
