<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/style.css"> <!-- CSS page for styling -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <title>Chatbot for Web</title>
  <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
</head>
<body class="basePage" onload="mainMenu()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Chatbot for University of Leeds, Staff Minerva Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  </nav>

  <div class="chatbot">
    <div class="chatbot-assistant">
      <div class="chatbot-assistant-header">
        <div class="chatbot-icon-header">
          <p id="user-icon-img"><image src="{{url_for('static',filename = 'images/supporticon.png')}} "/>
        </div>
        <div class="chatbot-info-header">
          <h3 class="chatbot-name-header">PABANA</h3>
        </div>
      </div>

      <div class="chatbot-msgs" id="chatbot-msg-area">
        <script>
        function mainMenu(){
          let menu1 = document.createElement("div");
          menu1.id = "botMenu1";
          menu1.innerHTML = `<span class="bot-menu1">Hi, I'm P.A.B.A.N.A (Personal Assistant Bot for Neurodiverse Academics)! </span>`;
          menu1.innerHTML += `<br/><br/></br>`
          chatArea.appendChild(menu1);
          chatArea.scrollTop += 20;
          let menu2 = document.createElement("div");
          menu2.id = "botMenu2";
          menu2.innerHTML = `<span class="bot-menu2">Here is my main menu! Click the buttons to find out more about the Minerva questions I can answer! </span>`;
          menu2.innerHTML += `<br/><br/></br><br/>`
          chatArea.appendChild(menu2);
          chatArea.scrollTop += 20;
          let options = document.createElement("div");
          options.id = "botMenu3";
          options.innerHTML = `<span class="bot-menu2"><button onclick="admin()" class="chatbot-menu">Admin</button></span>`;
          options.innerHTML += `<br/><br/>`
          options.innerHTML += `<span class="bot-menu2"><button onclick="accessibility()" class="chatbot-menu">Accessibility</button></span>`;
          options.innerHTML += `<br/><br/>`
          options.innerHTML += `<span class="bot-menu2"><button onclick="engagement()" class="chatbot-menu">Engagement</button></span>`;
          options.innerHTML += `<br/><br/>`
          options.innerHTML += `<span class="bot-menu2"><button onclick="contentCreation()" class="chatbot-menu">Content Creation</button></span>`;
          options.innerHTML += `<br/><br/>`
          options.innerHTML += `<span class="bot-menu2"><button onclick="assessments()" class="chatbot-menu">Assessments</button></span>`;
          options.innerHTML += `<br/><br/>`
          chatArea.appendChild(options);
          chatArea.scrollTop += 155;
          }
          function admin(){
            let response = document.createElement("div");
            response.id = "resp";
            response.innerHTML = `<span class="bot-resp">I can answer questions like "How can I change my staff avatar?" </span>`;
            response.innerHTML += `<br/><br/></br>`
            chatArea.appendChild(response);
            chatArea.scrollTop += 30;
          }
          function accessibility(){
            let response = document.createElement("div");
            response.id = "resp";
            response.innerHTML = `<span class="bot-resp">I can answer questions like "How can I make my Minerva video content accessible?"</span>`;
            response.innerHTML += `<br/><br/></br>`
            chatArea.appendChild(response);
            chatArea.scrollTop += 80;
          }
          function engagement(){
            let response = document.createElement("div");
            response.id = "resp";
            response.innerHTML = `<span class="bot-resp">I can answer questions like "How can I make my Minerva video content accessible?"</span>`;
            response.innerHTML += `<br/><br/></br>`
            chatArea.appendChild(response);
            chatArea.scrollTop += 80;
          }
          function contentCreation(){
            let response = document.createElement("div");
            response.id = "resp";
            response.innerHTML = `<span class="bot-resp">I can answer questions like "How can I add content to a module?"</span>`;
            response.innerHTML += `<br/><br/></br>`
            chatArea.appendChild(response);
            chatArea.scrollTop += 80;
          }
          function assessments(){
            let response = document.createElement("div");
            response.id = "resp";
            response.innerHTML = `<span class="bot-resp">I can answer questions like "How can I set a timer on a Minerva test?"</span>`;
            response.innerHTML += `<br/><br/></br>`
            chatArea.appendChild(response);
            chatArea.scrollTop += 80;
          }
        </script>

      </div>

      <div class="chatbot-assistant-footer">
        <input type="text" id="msg-input" class="msg-textbox" name="msg-entry" placeholder="Enter your message...">
        <button onclick="getInput()" class="chatbot-sendbtn-footer">Send</button>
        <script>
          const chatArea = document.getElementById("chatbot-msg-area");
          function userChatLog(input){
            let userInput = document.createElement("div");
            userInput.id = "user";
            userInput.innerHTML = `<span class="user-reply">${input}</span>`;
            userInput.innerHTML += `<br/><br/></br>`
            chatArea.appendChild(userInput);
            chatArea.scrollTop += 70;
            botChatLog(input);
          }
          function botChatLog(input){
            $.get("/getChatbotResponse", { message: input }).done(function (data){
              let botOutput = document.createElement("div");
              botOutput.id = "bot";
              const botResponse = data;
              botOutput.innerHTML = `<span class="bot-reply">${botResponse}</span>`;
              botOutput.innerHTML += `<br/><br/></br>`
              chatArea.appendChild(botOutput);
              chatArea.scrollTop += 70;
            });
          }
          function getInput(){
            const chatInput = document.getElementById("msg-input")
            let msg = chatInput.value
            chatInput.value = "";
            userChatLog(msg)
          }
      </script>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% block content %}{% endblock %}
</body>
</html>
